:root {
  --color-white: #fff;
  --color-black: #2b2b2b;
  --color-black-25: #fdfdfd;
  --color-black-50: #f2f2f2;
  --color-black-semi: #808080;
  --color-yellow: #fdbc11;
  --color-red: #ec4466;
  --color-blue: #3f53be;

  --mobile-breakpoint: 42.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background-color: var(--color-black-25);
  color: var(--color-black);
}

fieldset {
  border: none;
  width: 100%;
}

@media (max-width: --mobile-breakpoint) {
}
