.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 41.2rem;
}

.input {
  margin-bottom: 2rem;
}

.button {
  margin-top: 4rem;
}

.logo {
  margin-bottom: 4rem;
}

@media (max-width: 418px) {
  .main {
    padding: 2.4rem;
  }

  .form {
    max-width: none;
  }
}
