.container {
  width: 100%;
  position: relative;
}

.range {
  height: 1.5rem;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 1rem;
  margin: 0;
  padding: 0;
  line-height: 0;
  background-color: transparent;
}

.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5rem;
  cursor: pointer;
  background: #f2f2f2;
  border: 0px solid #000000;
  -webkit-appearance: none;
  width: 100%;
  box-shadow: none;
  border-radius: 0.6rem;
}

.range::-webkit-slider-thumb {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 100%;
  background-color: var(--color-yellow);
  margin-top: -4.5px;
  box-shadow: none;
  border: none;
  border-radius: 100%;
  cursor: grab;
  -webkit-appearance: none;
  border: 2px solid transparent;
}

.range:focus::-webkit-slider-runnable-track {
  background: #f2f2f2;
}

.range::-moz-focus-outer {
  border: 0;
}

.range::-moz-range-track {
  width: 100%;
  height: 1.5rem;
  cursor: pointer;
  background: #f2f2f2;
  border-radius: 0px;
  box-shadow: none;
  border-radius: 0.6rem;
}

.range::-moz-range-thumb {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 100%;
  background-color: var(--color-yellow);
  box-shadow: none;
  border: none;
  box-sizing: border-box;
  border: 2px solid transparent;
  cursor: grab;
}

.range::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: #f2f2f2;
  border-color: transparent;
  color: transparent;
  border-radius: 0.6rem;
}

.range::-ms-fill-lower {
  background: #f2f2f2;
  border: none;
  box-shadow: none;
}

.range::-ms-fill-upper {
  background: #f2f2f2;
  border: none;
  box-shadow: none;
}

.range::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 100%;
  background-color: var(--color-yellow);
  cursor: pointer;
}

.range:focus::-ms-fill-lower {
  background: #f2f2f2;
}

.range:focus::-ms-fill-upper {
  background: #f2f2f2;
}

.list {
  display: flex;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  margin-top: -2.4rem;
  width: 100%;
}

.option {
  color: var(--color-black);
  font-size: 1.6rem;
  background-color: #f2f2f2;
  border-radius: 100%;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.option.included {
  background-color: var(--color-yellow);
}

.value {
  color: var(--color-black);
  font-size: 1.6rem;
  border-radius: 100%;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  top: 3rem;
  position: absolute;
  pointer-events: none;
  background: transparent;
}

.progress {
  height: 1.3rem;
  background-color: var(--color-yellow);
  top: 3.5rem;
  position: absolute;
  left: 0;
  width: 100%;
  transform-origin: 0 0;
  pointer-events: none;
  transition: background-color 0.15s;
  border-radius: 0.6rem;
}

.label {
  font-size: 1.6rem;
  color: var(--color-black-semi);
  margin-bottom: 1rem;
}
